<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Flavors" rel="stylesheet">
    <script src="burger-master/models/burgers.js"></script>

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Burgertown Menu</title>
</head>

<body>
    <img src="https://lh3.googleusercontent.com/f_UtTkdy4OaBOjPg_GgVIEnKi528RYL7f5rwWMCkZNxc4iYhWpdCxsPcHojJv8tlNFIsqyq6NEQPheWe3LhXbm8PQZMJFL51vcsesQCXDEbfGY0bd1xat5kpBU3Ic_drr6ECWzSM=w2400" width="400px" id="mainBurger">

    {{{body}}}
        
    </body>
</html>
    <footer class="burgerFooter">
        <div class="footer-copyright">
            <div class="container">
                <span class="grey-text text-lighten-4">© 2018 3rd House Developer</span>
                <a class="grey-text text-lighten-4 right" href="https://github.com/dacogemini/burger">Reference Work</a>
            </div>
        </div>
    </footer>
</body>
</html>
